.login-container {
	background-color: #256ea655;
	border-radius: 10px;
	box-shadow: 5px 10px 20px rgba(72, 67, 67, 0.1);
	padding: 60px;
	max-width: 400px;
	width: 90%;
	text-align: center;
	margin: 20px auto;
  }
  
  .login-form {
	display: flex;
	flex-direction: column;
  }
  
  .login-form h1 {
	margin-bottom: 10px;
	color: #333;
  }
  
  .login-form p {
	margin-bottom: 10px;
	color: #777;
  }
  
  .input-group {
	margin-bottom: 15px;
  }
  
  .input-group input {
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #ddd;
	width: 100%;
	font-size: 16px;
	transition: border-color 0.3s ease;
  }
  
  .input-group input:focus {
	border-color: #007bff;
	outline: none;
  }
  
  button {
	padding: 10px;
	border: none;
	border-radius: 8px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: #0056b3;
  }
  
  .bottom-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	color: #777;
  }
  
  .bottom-text p {
	margin-bottom: 10px;
  }
  
  .bottom-text a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  .bottom-text a:hover {
	color: #0056b3;
  }
  
  /* Responsive */
  @media screen and (max-width: 600px) {
	.login-container {
	  width: 100%;
	  border-radius: 0;
	}
  }
