<!-- Navbar -->
<nav class="navbar navbar-expand-lg  bg-primary">
  <div class="container-fluid">
    <a *ngIf="isAdmin()" routerLink="/admin" class="navbar-brand ms-2 mt-3" style="font-size: 25px;"><i class="bi bi-shop"></i>ShopSphere</a>
    <a *ngIf="!isAdmin()" routerLink="/home" class="navbar-brand ms-2 mt-3" style="font-size: 25px;"><i class="bi bi-shop"></i>ShopSphere</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <!--left side navbar menus-->
      <ul class="navbar-nav me-auto me-e ms-3 mb-lg-0 ">
          <li *ngIf="!isAdmin()" class="nav-item me-2 mt-3" >
              <a  class="nav-link" routerLink="/home" style="font-size: 20px;"><i class="bi bi-shop"></i>Home</a>
          </li>
          <li *ngIf="isAdmin()" class="nav-item me-2 mt-3">
              <a class="nav-link" routerLink="/admin" style="font-size: 20px;"><i class="bi bi-shop"></i>Dashboard</a>
          </li>
          <li class="nav-item me-2 mt-3">
            <a class="nav-link" routerLink="/products" style="font-size: 20px;"><i class="bi bi-shop"></i>Products</a>
          </li>
          <li *ngIf="isAdmin()" class="nav-item me-2 mt-3">
            <a class="nav-link" routerLink="/admin/users" style="font-size: 20px;"><i class="bi bi-shop"></i>UserLists</a>
          </li> 
          <li *ngIf="isAdmin()" class="nav-item me-2 mt-3">
            <a class="nav-link" routerLink="/admin/discounts" style="font-size: 20px;"><i class="bi bi-shop"></i>Discounts</a>
          </li> 
          <li *ngIf="!isAdmin()" class="nav-item me-2 mt-3" >
            <a  class="nav-link" routerLink="/orders" style="font-size: 20px;"><i class="bi bi-shop"></i>Order history</a>
        </li>
      </ul>
      <!--right side navbar menus-->
      <ul  class="navbar-nav me-e ms-3 navbar">
          <li class="me-2 mt-3">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </li>
          <li *ngIf="!isAdmin() && loggedIn()" class="nav-item me-2 mt-3" >
            <a  class="nav-link" routerLink="/wishlist" style="font-size: 20px;"><i class="bi bi-shop"></i>Wishlist</a>
          </li>
          <li *ngIf="!isAdmin() && loggedIn()" class="nav-item dropdown me-2 mt-3">
              <a (click)="viewCart()" class="nav-link "  id="navbarCart" role="button" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                      <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                    </svg>
                    <i class="bi-cart2">{{ numItems }}</i>
              </a>
          </li>
          <li class="nav-item dropdown me-2 mt-3  my-2 mb-lg-0 ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </a>
             
            <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="navbarDropdownProfile">
                <li *ngIf="!loggedIn()"><a class="dropdown-item" routerLink="/login">Login</a></li>
                <li *ngIf="!loggedIn()"><hr class="dropdown-divider"></li>
                <li *ngIf="!loggedIn()"><a class="dropdown-item" routerLink="/register">Registration</a></li>
                <li *ngIf="loggedIn()" 
                ><a class="dropdown-item"  (click)="onLogout($event)">Logout</a></li>
            </ul>
            
        </li>
      </ul>
    
  </div>
  </div>
</nav>
<!-- Navbar -->
